#footer{text-align:center;margin-top:20px}form label{display:inline-block !important}section#content td{padding-left:2px;padding-right:2px}tr.subheader{background:#fff;background:-moz-linear-gradient(top, #fff 0, #ededed 100%);background:-webkit-gradient(left top, left bottom, color-stop(0, #fff), color-stop(100%, #ededed));background:-webkit-linear-gradient(top, #fff 0, #ededed 100%);background:-o-linear-gradient(top, #fff 0, #ededed 100%);background:-ms-linear-gradient(top, #fff 0, #ededed 100%);background:linear-gradient(to bottom, #fff 0, #ededed 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0)}tr.subheader td{color:#0c192e;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;text-shadow:#fff 0 1px 0;line-height:20px;text-shadow:0 1px 0 #fff;padding-left:20px;font-style:italic}th.title-column{min-width:170px}tr.first-featured-on td{background:#fff2c2 !important}tr.first-featured-on:hover td{background:#f8edbc !important}td.first-featured-on{font-style:italic}textarea[readonly]{background:#e4e4e4}#adminForm .btn{margin-top:-10px}#articleList td.field-column{padding-right:10px}#articleList input[type="text"]{width:100%;box-sizing:border-box;height:30px}#articleList textarea{min-height:65px;box-sizing:border-box;width:100%}#articleList .char-count-container{text-align:right}#articleList .char-count-container div{display:inline-block}#articleList .char-count-container .char-count-counter{margin-left:10px;margin-right:4px;color:gray}#articleList .char-count-container .char-count-counter.invalid{color:#f33b38;font-weight:bold}#articleList .char-count-container .char-count-counter-text{color:gray}#articleList .char-count-container .char-count-warning{color:#f33b38;font-style:italic}section#content select[multiple],select[size]{height:28px !important}
.ost-filters {
    text-align: right;
}

@media (max-width: 600px) {
    #articleList td {
        border-top: none;
    }
    #articleList tr {
        border-top: 1px solid #ddd;
    }
    section#content td {
        padding-left: 10px;
        padding-right: 10px;
    }
    section#content td {
        display: block;
    }
    .ost-filters {
        text-align: left;
        margin: 20px 0;
    }
    .ost-filters select {
        display: none !important;
    }
    #articleList textarea.metadesc {
        min-height: 140px;
    }
}
@media (max-width: 480px) {
    .ost-filters #search {
        display: block;
    }
}