<?xml version="1.0" encoding="utf-8"?>
<config addfieldpath="/administrator/components/com_osmeta/form/fields">
    <field type="customfooter"
           name="customfooter"
           media="com_osmeta"
           showgoproad="https://www.joomlashack.com/joomla-extensions/osmeta/"
           jedurl="https://extensions.joomla.org/extension/osmeta/"/>

    <fieldset name="main"
              label="COM_OSMETA_CONFIGURATION_MAIN">
        <field type="number" label="COM_OSMETA_TITLE_LIMIT_LABEL" name="meta_title_limit" default="70"></field>
        <field type="number" label="COM_OSMETA_DESC_LIMIT_LABEL" name="meta_description_limit" default="160"></field>
    </fieldset>

    <fieldset name="permissions"
        label="JCONFIG_PERMISSIONS_LABEL"
        description="JCONFIG_PERMISSIONS_DESC">

        <field name="rules"
            type="rules"
            label="JCONFIG_PERMISSIONS_LABEL"
            validate="rules"
            filter="rules"
            component="com_osmeta"
            section="component"/>
    </fieldset>
</config>
