<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
        name="basic">
        <field
            name="home_metadata_source"
            type="hidden"
            default="default" />

        <field
            name="home_metatitle"
            type="hidden"
            default="" />

        <field
            name="home_metadesc"
            type="hidden"
            default="" />

        <field
            name="home_metakey"
            type="hidden"
            default="" />
    </fieldset>
</config>
